body {
  /* We use Div for button, so for not change cursor image I use this */
  cursor: default;
}

input::placeholder {
  text-align: center;
}

/* ------------------ TOP MENU space ------------------ */
.topMenuDiv {
  display: flex;
  flex-direction: row;
  border: solid red 1px;
}

.topMenu {
  padding-left: 10vw;
  display: flex;
  flex-direction: row;
}

.topMenuButton {
  padding: 3px;
  background-color: rgb(68, 183, 255);
  border-bottom: 3px solid rgb(68, 183, 255);
}

.topMenuButton:hover {
  border-bottom: 3px solid rgb(0, 115, 255);
  /* margin-top: 20px; */
}

.loginButtonDiv {
  padding-left: 10vw;
}

.loginButton {
  border: solid;
  border-radius: 2px;
  padding: 3px;
  background-color: yellow;
  /* text-decoration: none; */
}

.loginButton:hover {
  background-color: rgb(215, 215, 17);
}

/* ------------------  BIG BOARD space ------------------ */
.bigBoardDiv {
  display: block;
  border: solid blue 1px;
  width: 35vw;
  text-align: center;
}

.loginBoard {
  display: none;
}

.videoBoard {
  display: block;
  align-items: center;
}

.dailyQBoard {
  display: none;
}

.wordsBoard {
  display: none;
}

.searchBoard {
  display: none;
}

/* ----------- LOGIN space ----------- */
.checkUser {
  display: block;
}

.registUser {
  display: none;
}

.txtHoverLight {
  border: solid 1px;
}
.txtHoverLight:hover {
  color: blue;
}

.toCenter {
  align-items: center;
}

.chooseAvatar{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chooseLang{
  width: 500px;
  height: 500px;
  display: none;
  border:solid blue 5px;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(255, 255, 255, 0.8);
}

.flag{
  width: 60px;
  border-radius: 50%;
}

.flag:hover{
  border: solid blue;
}