
/* ------------------ this is TOP MENU space ------------------ */
.topMenuDiv{
    display: flex;
    flex-direction: row;

}

.topMenu{
    padding-left: 10vw;
}

.topMenuButton{
    padding: 3px;
    background-color: rgb(68, 183, 255); 
    border-bottom: 3px solid rgb(68, 183, 255);
}

.topMenuButton:hover{
    border-bottom: 3px solid rgb(0, 115, 255);
    /* margin-top: 20px; */
}

.loginButtonDiv{
    padding-left: 10vw;
}
    
.loginButton{
    border: solid;
    border-radius: 2px;
    padding: 3px;
    background-color: yellow; 
    text-decoration: none;

}

.loginButton:hover{
    background-color: rgb(215, 215, 17);  

}

/* ------------------ this is BIG BOARD space ------------------ */

.loginBoard{
    display: none;
}

.videoBoard{
    display: block;
}

.daylicBoard{
    display: none;
}

.wordsBoard{
    display: none;
}

.searchBoard{
    display: none;
}